numpy
pandas
yfinance
scikit-learn
ta-lib
stable-baselines3
#gym
setuptools
gym
optuna
ccxt
streamlit
plotly
mplfinance
pandas-profiling
streamlit-pandas-profiling
shap
nltk
tensorflow
pennylane
spektral
networkx
celery
redis
kombu

